@model List<MoviesLibrary.Models.MovieFormViewModel>
@{
    ViewBag.Title = "View Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Movies</h2>


<div id="rows" class="row">
    
    @foreach (var movie in Model)
    {

        <a href="#">
            <div id="myCard" class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="@movie.ImgUrl"  width="100" alt="...">
                    <div class="caption">
                        <h3>Title: @movie.Name</h3>
                        <p>Release Date: @movie.ReleaseDate</p>
                        <p>Popularity: @movie.Popularity</p>

                    </div>
                </div>
            </div>
        </a>
    }
</div>
