<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--
  Log levels:
  ALL
  DEBUG
  INFO
  WARN
  ERROR
  FATAL
  OFF
  -->
  <!-- === Appender for NON-ERROR messages file === -->
  <appender name="DEBUG_APPENDER" type="log4net.Appender.RollingFileAppender">
    <file value=".\logs\debug-messages.txt" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="DEBUG" />
    </filter>
    <additivity value="true" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="1" />
    <maximumFileSize value="300KB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="
                         %newline
                         %newline DateAndTime: %date 
                         %newline Thread: [%thread] 
                         %newline Level: %-5level 
                         %newline Logger: %logger 
                         %newline Identity: [%identity]  
                         %newline Message: %message
                         %newline StackTrace: %stacktrace{level}                        
                         %newline
                         %newline
                         "/>
    </layout>
  </appender>


  <appender name="INFO_APPENDER" type="log4net.Appender.RollingFileAppender">
    <file value=".\logs\info-messages.txt" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="WARN" />
    </filter>
    <additivity value="true" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="200KB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="
                         %newline
                         %newline DateAndTime: %date 
                         %newline Thread: [%thread] 
                         %newline Level: %-5level 
                         %newline Logger: %logger 
                         %newline Identity: [%identity]  
                         %newline Message: %message
                         %newline StackTrace: %stacktrace{level}                        
                         %newline
                         %newline
                         "/>
    </layout>
  </appender>

  <appender name="ALL_APPENDER" type="log4net.Appender.RollingFileAppender">
    <file value=".\logs\all-messages.txt" />
    <additivity value="true" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="200KB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="
                         %newline
                         %newline DateAndTime: %date 
                         %newline Thread: [%thread] 
                         %newline Level: %-5level 
                         %newline Logger: %logger 
                         %newline Identity: [%identity]  
                         %newline Message: %message
                         %newline StackTrace: %stacktrace{level}                        
                         %newline
                         %newline
                         "/>
    </layout>
  </appender>


  <!-- === Appender for ERROR messages file === -->
  <appender name="ERROR_APPENDER" type="log4net.Appender.RollingFileAppender">
    <file value=".\logs\error-messages.txt" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="FATAL" />
    </filter>
    <additivity value="true" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100KB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="
                         %newline
                         %newline DateAndTime: %date 
                         %newline Thread: [%thread] 
                         %newline Level: %-5level 
                         %newline Logger: %logger 
                         %newline Identity: [%identity]  
                         %newline Message: %message
                         %newline StackTrace: %stacktrace{level}                        
                         %newline
                         %newline
                         "/>
    </layout>
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="INFO_APPENDER"/>
    <appender-ref ref="DEBUG_APPENDER"/>
    <appender-ref ref="ERROR_APPENDER"/>
    <appender-ref ref="ALL_APPENDER"/>
  </root>
</log4net>